<div class="row col-12 justify-content-center mt-5">

<div class="col-6 d-flex justify-content-center mt-5">
<form action="/account/new-password"  method="post">

  <h1 class="text-center">NEW PASSWORD</h1>
    <input type="hidden" id="_csrf" name="_csrf" value="{{csrfToken}}">
     <input type="hidden" name="userId" value="{{userId}}">
     <input type="hidden" name="passToken" value="{{token}}">

    <div class="form-outline mb-4">
        <label class="form-label" for="newPass">Password:</label>
        <input type="password" id="newPass" name="newPass" class="form-control form-control-lg" required>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="confirmPass">Confirm Password:</label>
        <input type="password" id="confirmPass" name="confirmPass" class="form-control form-control-lg" required>
      </div>

  <button  type="submit"  class="btn btn-primary w-100 btn-block mb-4">Search your account with the email</button>
  
  <div class="text-center">
    <p>Not a member? <a href="/account/authenticate">Login</a></p>
  </div>
</form>

</div>

</div>