<div class="row justify-content-center mt-5">
  <div class="col-12 col-md-8 col-lg-6 d-flex justify-content-center mt-5">
    <form enctype="multipart/form-data" action="/account/register" method="post">
      <h1 class="text-center mb-4">REGISTER</h1>
       <input type="hidden" id="_csrf" name="_csrf" value="{{csrfToken}}">
      <div class="form-outline mb-4">
        <label class="form-label" for="name">Name:</label>
        <input type="text" id="name" name="Name" class="form-control form-control-lg" required>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="username">Username:</label>
        <input type="text" id="username" name="UserName" class="form-control form-control-lg" required>
      </div>


      <div class="form-outline mb-4">
        <label class="form-label" for="email">Email:</label>
        <input type="email" id="email" name="Email" class="form-control form-control-lg" required>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="phone">Phone:</label>
        <input type="text" id="phone" name="Phone" class="form-control form-control-lg" required>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="photo">Photo URL:</label>
        <input type="file" id="photo" name="Image" class="form-control form-control-lg" required>
      </div>

    
      <div class="form-outline mb-4">
        <label class="form-label" for="role">Role:</label>
        <select id="role" name="RoleId" class="form-control form-control-lg" required>
          <option value="">Select Role</option>
          {{#each roles as |role|}}
             <option value="{{role.Id}}">{{role.Name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="password">Password:</label>
        <input type="password" id="password" name="Password" class="form-control form-control-lg" required>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="ConfirmPassword">Confirm Password:</label>
        <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control form-control-lg" required>
      </div>

      <button type="submit" class="btn btn-primary w-100 btn-block mb-4">Sign up</button>


      <div class="text-center">
        <p>Got an account? <a href="/account/authenticate">Login</a></p>
      </div>
    </form>
  </div>
</div>